<h1><center>Welcome to the Grocery Menu App!</center></h1>
<h2><center>Please feel free to check back often as I continue updating the app.</center></h2>
<h3><li>Food List Master for Grocery Pricing and purchase quantities: <%=link_to"Food List", 'foods#index' %></li></h3>